.footer {
  background-color: #0d0117;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-line {
  text-decoration: none;
  background: -webkit-linear-gradient(#892afd, #40c7ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}
